/*.grid-container {
    width: 964px;
    height: 724px;
    margin: 20px auto;
    border: 2px solid gray;
    display: flex;
    flex-wrap: wrap;
    background-color: darkgray;
}
*/
.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.square {
    border: 1px solid gray;
    flex: 1;
    display: flex;
    background-color: darkgray;
}
